<div class="profile-container" *ngIf="user">
  <mat-card>
    <mat-card-title>User Profile</mat-card-title> 
    <mat-card-content>
      <div class="profile-info">
        <div class="avatar-container">
          <div class="avatar mat-elevation-z2">{{ user.firstname[0] }}{{ user.lastname[0] }}</div>
        </div>
        <div class="user-details">
          <h3 class="user-name">{{ user.firstname }} {{ user.lastname }}</h3>
          <div class="user-email">
            <mat-icon>email</mat-icon>
            <span>{{ user.email }}</span>
          </div>
          <div class="user-sells">
            <h3>Eladott ingatlanok:</h3>
            <ol *ngIf="user?.selledProperties && user.selledProperties.length > 0; else noSells">
              <li *ngFor="let property of user.selledProperties; let i = index">
                {{ property.name }} – {{ property.location }} –
                ${{ property.price | number }} – {{ property.size }} m²
              </li>
            </ol>
            <ng-template #noSells><p>Nincs eladott ingatlan.</p></ng-template>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>