<div class="header-container">
    <img class="header-image" src="home-background.jpg" style="width: 100%;">
    <div class="header-text">
        <h1 class="header-title">Buy or Sell Properties for Free!</h1>
        <p class="header-description">
        Buy your dream home or sell your old one!
        </p>
    </div>
</div>

<div class="greeting-container">
    <h2 class="greeting-title">Most Viewed Homes:</h2>
    <div class="card-container">
    <mat-card class="product-card">
        <div class="card-content">
            <div class="image"><a><img src="/modern001.jpg" /></a></div>
            <div class="description">
                <h2>Modern House</h2>
                <p>Price: $1200000</p>
                <p>Big Modern House</p>
            </div>
        </div>
    </mat-card>
    <mat-card class="product-card">
        <div class="card-content">
            <div class="image"><a><img src="/elegant002.jpg" /></a>
            </div>
                <div class="description">
                <h2>Elegant House</h2>
                <p>Price: $525000</p>
                <p>Big Elegant House</p>
            </div>
        </div>
        </mat-card>
        <mat-card class="product-card">
            <div class="card-content">
                <div class="image"><a><img src="/modern002.jpg" /></a></div>
                <div class="description">
                <h2>Expensive House</h2>
                <p>Price: $1400000</p>
                <p>Big Expensive House</p>
                </div>
            </div>
        </mat-card>
    </div>
</div>